========================================
Generate Product Descriptions from Images
========================================

ΓÜá OpenAI API key not found - Using basic metadata-based descriptions
   Set OPENAI_API_KEY in your .env file or use --openai-key option


   Illuminate\Database\QueryException 

  SQLSTATE[HY000] [2002] No connection could be made because the target machine actively refused it (Connection: mysql, SQL: select count(*) as aggregate from `products` where (`description` is null or `description` = ) and (`primary_image` is not null or `image_paths` is not null) and `products`.`deleted_at` is null)

  at vendor\laravel\framework\src\Illuminate\Database\Connection.php:824
    820Γûò                     $this->getName(), $query, $this->prepareBindings($bindings), $e
    821Γûò                 );
    822Γûò             }
    823Γûò 
  Γ₧£ 824Γûò             throw new QueryException(
    825Γûò                 $this->getName(), $query, $this->prepareBindings($bindings), $e
    826Γûò             );
    827Γûò         }
    828Γûò     }

  1   vendor\laravel\framework\src\Illuminate\Database\Connectors\Connector.php:66
      PDOException::("SQLSTATE[HY000] [2002] No connection could be made because the target machine actively refused it")

  2   vendor\laravel\framework\src\Illuminate\Database\Connectors\Connector.php:66
      PDO::__construct("mysql:host=127.0.0.1;port=3306;dbname=everbright_optical", "root", Object(SensitiveParameterValue))

